<h1>Registro de Students</h1>


<form>
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="apellido" placeholder="Apellido">
    <input type="number" name="edad" placeholder="Edad">
    <input type="email" name="email" placeholder="Correo Electronico">
    <select>
        <option>Web - marzo 22</option>
        <option>Web - marzo 22</option>
        <option>Web - marzo 22</option>
        <option>Web - marzo 22</option>
        <option>Web - marzo 22</option>
    </select>

    <input type="checkbox"> VideoJuego
    <input type="checkbox"> Plataforma FullStack
    <input type="checkbox"> Proyecto Final 
    <button type="submit">gravar</button>
</form>